<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Memnik</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<!--<div class="container">-->
<!--    <div class="header">-->
<div>
        <label>&nbsp&nbsp&nbsp&nbsp&nbsp</label>
        <a class="btn" href="/">Main</a>
        <a class="btn" href="/contacts">Contacts</a>
        <label>&nbsp&nbsp&nbsp&nbsp&nbsp</label>

        <a class="btn" href="/tag">Tags</a>
        <div class="dropdown">
            <div class="dropdown-btn">Mem</div>
            <div class="dropdown-content">
                <a href="/mem/find">Find mem</a>
                <a href="/mem/add">Add mem</a>
            </div>
        </div>
        <div class="dropdown">
            <div class="dropdown-btn">Joke</div>
            <div class="dropdown-content">
                <a href="/joke/find">Find joke</a>
                <a href="/joke/add">Add joke</a>
            </div>
        </div>
        <div class="dropdown">
            <div class="dropdown-btn">Postcard</div>
            <div class="dropdown-content">
                <a href="/postcard/find">Find postcard</a>
                <a href="/postcard/add">Add postcard</a>
            </div>
        </div>
        <div class="dropdown">
            <div class="dropdown-btn">Quote</div>
            <div class="dropdown-content">
                <a href="/quote/find">Find quote</a>
                <a href="/quote/add">Add quote</a>
            </div>
        </div>
    <div class="dropdown">
        <div class="dropdown-btn">Video</div>
        <div class="dropdown-content">
            <a href="/video/find">Find video</a>
            <a href="/video/add">Add video</a>
        </div>
    </div>
</div>

    <h1>
        <label>&nbsp</label>
        <span th:text="${title}"></span>
    </h1>

    <div th:if="${error != null}">
        <label>&nbsp&nbsp&nbsp&nbsp&nbsp</label>
        <p style="color: red; margin-left: 20px" th:text="${error}"></p>
    </div>

<div th:if="${picture != null || video != null}">
    <div th:if="${picture != null}">
        <label>&nbsp&nbsp&nbsp&nbsp&nbsp</label>
        <img th:src="${picture}" width="300" height="300" alt="Can't show mem">
    </div>
    <div th:if="${video != null}">
        <label>&nbsp&nbsp&nbsp&nbsp&nbsp</label>
        <video width="640" height="360" controls>
            <source th:src="${video}" type="video/mp4">
            Video is not supported by your browser.
        </video>
    </div>
<form method="post" action="send">
    <label for="email">Send to email:</label>
    <input type="email" id="email" name="email" th:value="${email}" required>
    <div th:if="${picture != null}">
        <input type="hidden" name="picture" th:value="${picture}">
    </div>
    <div th:if="${video != null}">
        <input type="hidden" name="picture" th:value="${video}">
    </div>
    <button type="submit" class="btn">Submit</button>
</form>
</div>

    <div th:if="${text != null}">
        <label>&nbsp&nbsp&nbsp&nbsp&nbsp</label>
        <span th:text="${text}"></span>
    </div>

    <h1>
        <br />
        <label>&nbsp</label>
        <span th:text="${title2}"></span>
    </h1>

    <form method="post">
        <div class="next-element">
            <label>Tags</label>
            <select name="tags" id="tags" size="3" multiple>
                <p th:each="item: ${tags}">
                    <option th:value="${item}" th:text="${item}"></option>
                </p>
            </select>
        </div>
        <div class="next-element">
            <label>Language</label>
            <select name="language" id="language" size="1">
                <option value="ANY">Any language</option>
                <option value="EN">English</option>
                <option value="RU">Russian</option>
            </select>
        </div>
        <div class="next-element">
            <label>Author</label>
            <select name="author" id="author" size="1">
                <option value="ANY">Any author</option>
                <option value="MY">Only mine</option>
            </select>
        </div>
        <div>
            <input class="btn" type="submit" value="Submit" />
        </div>
    </form>
<!--</div>-->
</body>
</html>